* {
  /* Vino en el tutorial y no se si esta haciendo nada */
  /* The box-sizing property allows us to include the padding and border in an element's total width and height */
    box-sizing: border-box; 
  }
  
canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;               /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non standard naming) */
}

  :root {
    --header-height: 20vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    /*padding: 1vw;*/
    /*border: 1px solid red;*/
  }

  .temporada_episodio {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: var(--header-height);
    min-height: var(--header-height);
    /*border: 2px solid blue;*/
  }
  .temporada { 
    align-items: center;
    justify-content: center;
    display: flex;
    /*border: 2px solid red;*/
  }


  .selector_episodio {
    min-width: 50%; /* Ver con contenido si hace falta */
    text-align: center;
    height: 50%;
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: row;
  }
  .flecha {
    display: flex;
    color: white;
    max-width: 20%;
    background-color: #757575;
    padding: 20px;
  }
  #ep_name {
    color: white;
    background-color: #9e9e9e;
    padding: 20px;
    width: 100%; 
  }



  .logotemp { 
    display: flex;
    height: var(--header-height);
    /*border: 2px solid purple;*/
  }


  