* {
  /* Vino en el tutorial y no se si esta haciendo nada */
  /* The box-sizing property allows us to include the padding and border in an element's total width and height */
    box-sizing: border-box; 
  }

  :root {
    --header-height: 20vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    /*padding: 1vw;*/
    /*border: 1px solid red;*/
  }

  .temporada_episodio {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: var(--header-height);
    min-height: var(--header-height);
    /*border: 2px solid blue;*/
  }
  .temporada { 
    align-items: center;
    justify-content: center;
    display: flex;
    /*border: 2px solid red;*/
  }


  .selector_episodio {
    min-width: 50%; /* Ver con contenido si hace falta */
    align-items: center;
    height: 50%;
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: row;
  }
  .flecha {
    display: flex;
    max-width: 20%;
    background-color: #04AA6D;
    padding: 20px;
  }
  #ep_name {
    background-color: #04AAFF;
    padding: 20px;
    width: 100%; 
  }



  .logotemp { 
    display: flex;
    height: var(--header-height);
    /*border: 2px solid purple;*/
  }


  