* {
  /* Vino en el tutorial y no se si esta haciendo nada */
  /* The box-sizing property allows us to include the padding and border in an element's total width and height */
    box-sizing: border-box; 
  }

  :root {
    --header-height: 20vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    /*padding: 1vw;*/
    /*border: 1px solid red;*/
  }

  .temporada_episodio {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    height: var(--header-height);
    min-height: var(--header-height);
    /*border: 2px solid blue;*/
  }
  .temporada { 
    align-items: center;
    justify-content: center;
    display: flex;
    /*border: 2px solid red;*/
  }


  .selector_episodio {
    min-width: 50%; /* Ver con contenido si hace falta */
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: row;
  }
  .flecha {
    display: flex;
    max-width: 20%;
    background-color: #04AA6D;
    padding: 20px;
  }
  #ep_name {
    background-color: #04AAFF;
    padding: 20px;
  }



  .logotemp { 
    display: flex;
    height: var(--header-height);
    /*border: 2px solid purple;*/
  }

  .stats {
    display: flex;
    flex-direction: row;
    /*border: 1px solid green;*/
  }
  .stat1_foto {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  .stat2 {
    background-color: #04AA6D;
    padding: 20px;
    width: 20%;
  }
  .stat1 {
    background-color: #2196F3;
    padding: 20px;
    width: 25%; /* El contenedor de stat1 y foto mide 80% asi q esto es 20% del tot de la imagen */
  }
  .foto {
    background-color: #f1f1f1;
    padding: 20px;
    width: 75%; /* El contenedor de stat1 y foto mide 80% asi q esto es 60% del tot de la imagen */
  }
  
  
  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width: 800px) {
    .stat1_foto, .stat2, .stat1, .foto {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .stats {
      flex-direction: column;
    }
    .stat1_foto {
      flex-direction: column-reverse;
    }
  }