.stats {
  display: flex;
  flex-direction: row;
  /*border: 1px solid green;*/
}
.stat1_foto {
  display: flex;
  flex-direction: row;
  width: 60%;
}
.stat2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  width: 40%;
}


.stat1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  width: 66.66%; /* El contenedor de stat1 y foto mide 80% asi q esto es 20% del tot de la imagen */
}
.encabezados {
  color: black;
  padding: 5px;
  background-color: #feb13b;
}
.contenido {
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  /*image-rendering: pixelated;*/
}

.item {
  display: flex;
  flex-direction: column;
}

.foto {
  background-color: #f1f1f1;
  padding: 20px;
  width: 33.33%; /* El contenedor de stat1 y foto mide 80% asi q esto es 60% del tot de la imagen */
}

.displayname {
  color: white;
  padding: 5px;
}
  
/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .stat1_foto, .stat2, .stat1, .foto {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .stats {
    flex-direction: column;
  }
  .stat1_foto {
    flex-direction: column-reverse;
  }
}